<div class="p-3" id="emptyCart">
    <p><span class="h5 py-0">Додайте товари до замовлення</span></p>
    <p>Оберить товари, які вам сподобались, натискайте <b class="text-primary">"{{ lang.buy }}"</b> і вони з'являться тут.</p>
</div>
