<div class="p-3" id="emptyCart">
    <p><span class="h5 py-0">Add products to order.</span></p>
    <p>Choose products you like, click <b class="text-primary">"{{ lang.buy }}"</b>, and they'll show up here!</p>
</div>
