{% block status %}
    <h5 class="mt-3">The online payment service is currently unavailable</h5>
    <p class="m-3">
        Please select another payment method or refresh this page after a while.
        <br><br><small class="text-muted">Please contact us if this is not the first time you have seen this message.</small>
    </p>
{% endblock %}


