{% extends "pagefull.html.twig" %}
{% block status %}
    <div class="card bgg">
        <div class="card-body">
            {{ include([page.language ~ '/none.html.twig','none.html.twig'])|raw }}
        </div>
    </div>
{% endblock %}
{% block helper %}
    {{ parent() }}
{% endblock %}
