<div class="p-3" id="emptyCart">
    <p><span class="h5 py-0">There are no items in the cart yet.</span></p>
    <p>Fill the cart - click the Buy button next to each item you like, and instead of this message, a shopping list will appear.</p>
</div>
